body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 20px;
}

h1 {
    color: #333;
}

ol {
    list-style-type: none;
    padding: 0;
}

li {
    border: 1px solid #ddd;
    margin-bottom: 10px;
    padding: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
}

p {
    margin: 0;
}

ol.type-A {
    list-style-type: upper-alpha;
    lighting-color: antiquewhite;
}



